<div id="<%= dom_id task %>" class="sm:ml-0 sm:ml-0 ml-0">
  <p class="my-5">
    <strong class="block mb-1 text-red-600 text-xl font-semibold">Title:</strong>
    <%= tag.span task.title, class: "text-white" %>
  </p>

  <p class="lg:w-[50vw] w-[80vw]">
    <strong class="block font-semibold mb-1 text-red-600 text-xl">Description:</strong>
    <%= tag.span task.description, class: "text-white" %>
  </p>
</div>
