<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1 text-red-600 text-xl">Title:</strong>
    <%= tag.span task.title, class: "text-white" %>
  </p>

  <p class="my-5 w-full">
    <strong class="block font-medium mb-1 text-red-600 text-xl">Description:</strong>
    <%= tag.span task.description, class: "text-white" %>
  </p>

</div>
