<html lang="pt-BR">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <% if user_signed_in? %>
        <%= render 'home/homelog' %>     
    <% else %>
        <%= render 'home/homenologged' %>     
    <% end %>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 2000,
      });
    </script>
  </body>
</html>