<html lang="pt-BR">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
  </head>

  <body>
    <div class="w-full">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>

      <% content_for :title, "Dishes" %>
    <div class="w-[100%] flex flex-col justify-center items-center mb-32 mt-6" data-aos="fade-left">
      <div class="w-full flex items-center justify-center">
        <div class="sm:w-[60%] w-full flex sm:justify-between justify-around items-center mt-14 mb-14">
          <h1 class="font-bold sm:text-4xl text-3xl text-white">Dietas</h1>
          <%= link_to "Novo Prato +", new_dish_path, class: "rounded-lg py-3 px-5 bg-red-700 text-white block font-medium" %>
        </div>
      </div>

        <div id="tasks" class="sm:w-[75%] w-[90%] justify-center flex items-center flex-wrap">
          <% if @dishes.any? %>
            <% @dishes.each do |dish| %>
              <div class="bg-zinc-950 sm:w-[420px] w-[90%] sm:max-w-[420px] flex flex-col rounded-xl p-4 mb-10 pl-6 sm:ml-10">
                <div class="w-[90%] truncate">
                  <%= render dish %>
                  <p>
                    <%= link_to "Ver Mais >", dish, class: "rounded-lg py-1 mb-4 mt-4 px-2 bg-green-600 inline-block text-base text-gray-200" %>
                  </p>
                </div>
              </div>
            <% end %>
            <% else %>
              <div class="h-[60vh] w-[75%] flex items-left justify-left">
                <p class="text-gray-400 text-xl mt-8">
                  Sem Pratos, adicione novos pratos e mantenha sua dieta em dia.
                </p>
              </div>
            <% end %>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 2000,
      });
    </script>

  </body>